.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
    transition: .25s ease all;
}

.navbar_black {
    background-color: #111;
    transition: .25s ease all;
}

.nav_logo {
    position: fixed;
    object-fit: contain;
    top:20px;
    left:20px;
    width: 150px;
}